body {
    position: relative;
}

.loading {
    animation: hideloader 3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: 'Shrikhand', cursive;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    background: black;
    opacity: 0.8;
    z-index: 99;

    $span-border: 
    1 165px $secondary-color borderspin-1, 
    2 165px $primary-color borderspin-2, 
    3 165px $tertiary-color borderspin-3;

    @each $number, $circle-size, $border-color, $animation-name in $span-border {
        &__border:nth-of-type(#{$number}) {
            animation: $animation-name 1.5s linear infinite;
            @include circle-border($circle-size);
            display: block;        
            position: absolute;
            border-top: 5px solid $border-color;
            top: 50%;
            left: 50%;
        }
    }

    &__box {
        @include circle-border(150px);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);  
    }

    .loading__logo {
        width: 100%;
        height: 100%;
        position: relative;
        @include flex-center;
        transform: rotate(0deg);
        $delay: 0ms;
        @for $i from 1 through 8{
            & span:nth-of-type(#{$i}){
                font-size: 1.7em;
                display: inline-block;
                //width: calc(100% / 8);
                //height: 100%;
                color: white;
                transform-origin: center;
                animation: bound 640ms linear infinite;
                -webkit-animation: bound 640ms linear infinite;
                animation-delay: $delay;
                -webkit-animation-delay: $delay;
            }
            $delay: $delay + 80ms;
        }

    }

}

@keyframes borderspin-1{
    0%{transform: translate(-50%, -50%) rotate(120deg)}
    100%{transform: translate(-50%, -50%) rotate(480deg)}
}

@keyframes borderspin-2{
    0%{transform: translate(-50%, -50%) rotate(-120deg)}
    100%{transform: translate(-50%, -50%) rotate(240deg)}
}

@keyframes borderspin-3{
    0%{transform: translate(-50%, -50%) rotate(0deg)}
    100%{transform: translate(-50%, -50%) rotate(360deg)}
}

/*
@keyframes color{
    0%, 5%, 50%, 60%, 100%{color: $primary-color;}
    10%, 20%, 65%, 70%{color: $secondary-color;}
    30%, 40%, 80%, 90%{color: $tertiary-color;}
}
*/

@keyframes bound{
    from{transform: translateY(3%);}
    to{transform: translateY(0%)}
}


@keyframes hideloader{
    0%, 90%{opacity: 0.8; position: fixed;}
    99%{opacity: 0; position: fixed; transform: translate(0px)}
    100%{ opacity: 0; transform: translate(-9999px)}
}
