.place {
    padding-top: 17px;
    padding-bottom: 17px;
    color: $light-black;
    background: #eaeaea;
    @include box-shadow(inset, 0px, 10px, 5px, -10px, 0.25);

    &__title {
        display: block;     
        text-align: center;
        position: relative;
        font-size: 0.96em;
        font-weight: 500;
    }

    &__icon::before {
        /* fa-map-marker-alt */
        @include content-icon(900, $light-black, 1, 1, "\f3c5");
        display: initial;        
        position: absolute;
        margin-left: -25px;
    }

}