extends layout

block content
  div(class='place')
    span(class='place__icon place__title') Paris, Belleville
  section(class='desc')
    h2(class='desc__title') Réservez le menu qui vous convient
    p Découvrez des restaurants d'exception, séléctionnés par nos soins.
    button(class='desc__btn') Explorez nos restaurants
  section(class='op')
    h2(class='op__title') Fonctionnement
    ol(class='op_incr')
      li
        span(class='op__mobile') Choisissez un restaurant
      li
        span(class='op__list') Composez votre menu
      li
        span(class='op__store') Dégustez au restaurant
  section(class='restaurants')
    h2 Restaurants 
    div(class='card')
      a(href='/la-palette-du-gout')
        figure
          div(class='card__img card__img--badge')
            img(src='/images/restaurants/la-palette-du-gout.jpg', alt='La palette du goût')
          figcaption
            p La palette du goût
            p Ménilmontant
      div(class='card__like')
        input(type='checkbox', id='like-1')
        label(for='like-1', class='far fa-heart')
    div(class='card')
      a(href='/la-note-enchantee')
        figure
          div(class='card__img card__img--badge')
            img(src='/images/restaurants/la-note-enchantee.jpg', alt='La note enchantée')
          figcaption
            p La note enchantée
            p Charonne
      div(class='card__like')
        input(type='checkbox', id='like-2')
        label(for='like-2', class='far fa-heart')
    div(class='card')
      a(href='/a-la-francaise')
        figure
          div(class='card__img')
            img(src='/images/restaurants/a-la-francaise.jpg', alt='À la française')
          figcaption
            p À la française
            p Cité Rouge
      div(class='card__like')
        input(type='checkbox', id='like-3')
        label(for='like-3', class='far fa-heart')
    div(class='card')
      a(href='/le-delice-des-sens')
        figure
          div(class='card__img')
            img(src='/images/restaurants/le-delice-des-sens.jpg', alt='Le délice des sens')
          figcaption
            p Le délice des sens
            p Folie-Méricourt
      div(class='card__like')
        input(type='checkbox', id='like-4')
        label(for='like-4', class='far fa-heart')