doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=EDGE')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    <link rel=icon href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15/svgs/solid/utensils.svg>

    title= pageTitle
    // Import main stylesheet
    link(rel='stylesheet', href='stylesheets/index.min.css')
    // Import Google Fonts
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(rel='preload', href='https://fonts.googleapis.com/css2?family=Shrikhand&display=swap', as='style')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Shrikhand&display=swap')
    link(rel='preload', href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap', as='style')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap')
    // Import FA
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css', integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==', crossorigin='anonymous' referrerpolicy='no-referrer')
  body
    block before-header
    block header
      header(class='logo')
        nav(class='container')
          div(class='grid-1')
            h1(class='logo__text')= title
    block content
    block foot
      footer
        div(class='container')
          h4(class='footer__title') ohmyfood
          ul(class='grid-1 grid-2')
            li
              span(class='footer__set') Proposer un restaurant
            li
              span(class='footer__help') Devenir partenaire
            li Mentions légales
            li
              a(href='mailto:restaurants@ohmyfood.com') Contact
