doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=EDGE')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title= pageTitle
    
    link(rel='stylesheet', href='stylesheets/index.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css', integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==', crossorigin='anonymous' referrerpolicy='no-referrer')
  body
    block before-header
    block header
      header(class='header')
        div(class='container')
          div(class='grid-1')
            h1(class='header__title')= title
    block content
    block foot
      footer
        div(class='container')
          h4(class='footer__title') ohmyfood
          ul(class='grid-1 grid-2')
            li
              span(class='footer__set') Proposer un restaurant
            li
              span(class='footer__help') Devenir partenaire
            li Mentions légales
            li
              a(href='mailto:restaurants@ohmyfood.com') Contact
