
$purple: #9356DC;
$pink: #FF79DA;
$light-pink: #f5edff;
$green: #99E2D0;
$dark-green: #008766;
$grey: #f6f6f6;
$light-black: #353535;

$gradient: linear-gradient(175deg, $pink 20%, $purple 100%);
$invert-gradient: linear-gradient(360deg, $pink 20%, $purple 100%);
$lighten-gradient: linear-gradient(175deg, lighten($pink, 5%) 20%, lighten($purple, 5%) 100%);