
$purple: #9356DC;
$pink: #FF79DA;
$light-pink: #f5edff;
$green: #99E2D0;
$dark-green: #008766;
$grey: #f6f6f6;
$light-black: #353535;
@mixin gradient {
    color: white;
    background: $pink;
    background: linear-gradient(175deg, $pink 0%, $purple 90%); 
}