$global-margin : 0 20px 0 20px;
$rounded-border : 15px;
$rounded-top : 15px 15px 0 0;
$rounded-bottom : 0 0 15px 15px;

@mixin absolute-center($x, $y) {
    top: 50%;
    transform: translate($x, $y);
    vertical-align: middle;
}