.nav {
    padding: 21px 23px 14px 23px;

    &__title {
        color: black;    
        text-align: center;
        position: relative;
        font-size: 1.8em;
    }

    &__back::before {
        /* fa-arrow-left */
        @include content-icon(900, #353535, 0.7em, "\f060");
        @include transform-center(50%, 0, -50%);
        position: absolute;
    }
}