@mixin for-size($range) {
    $phone-upper-boundary: 600px;
    $tablet-portrait-upper-boundary: 900px;
    $tablet-landscape-upper-boundary: 1200px;
    $desktop-upper-boundary: 1800px;
  
    @if $range == phone-only {
      @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
    } @else if $range == tablet-portrait-up {
      @media (min-width: $phone-upper-boundary) { @content; }
    } @else if $range == tablet-landscape-up {
      @media (min-width: $tablet-portrait-upper-boundary) { @content; }
    } @else if $range == desktop-up {
      @media (min-width: $tablet-landscape-upper-boundary) { @content; }
    } @else if $range == big-desktop-up {
      @media (min-width: $desktop-upper-boundary) { @content; }
    }
  }

$gutter-X: 1em;
$gutter-Y: 1em;

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

[class^=grid-] {
  display: flex;
  flex-flow: row wrap;
  margin-right: calc(#{$gutter-X} * -.5);
  margin-left: calc(#{$gutter-X} * -.5);
}

@mixin flex-grid($n-grid) {

  .grid-#{$n-grid} > * {
    flex: 0 0 auto;
    width: calc(100% / #{$n-grid});
    padding-right: calc(#{$gutter-X} * .5);
    padding-left: calc(#{$gutter-X} * .5);
    padding-top: calc(#{$gutter-Y} * .5);
    padding-bottom: calc(#{$gutter-Y} * .5);
  }

}

@include flex-grid(1);

@mixin container--md() {

  .container {
    width: 85%;
  }

}

@mixin container--xl() {
  
  .container {
    width: 90%;
  }

}

// Responsive operations.scss
@mixin op--sm() {
  .op {
      
      li {
          margin-left: 12px;
          padding-right: calc(12px * 1.5);
      }

  }
}

@mixin op--md() {
  .op {
      @include flex-grid(3);
      &__ol {
          align-items: center;
          justify-content: center;
      }

      &__ol::before {
          @include circle-border(30px);
          top: 0;
          right: 0;
          left: 0;
          margin-left: auto;
          margin-right: auto;
      }

      span:nth-of-type(1) {
          position: absolute;
          left: 0;
      }
      span:nth-of-type(2) {
          padding-right: 20%;
          padding-left: 20%;
          text-align: center;
      }
  }
}

@mixin op--xl() {
  .op {

      &__ol {
          height: 80px;
      }

  }
}

// Responsive cards.scss
@mixin card--md() {
  .restaurants {
      @include flex-grid(2);
  }
}

@mixin card--xl() {
  .restaurants {
      @include flex-grid(4);
  }
  .card {
      img {
          height: 330px; 
      }
      .card__img {
          height: 330px;
      }
  }
}

// Responsive menus.scss
@mixin menu--xl() {
  .restaurant {
      @include flex-grid(3);
  }
}

// Responsive footer.scss
@mixin footer--md {
  @include flex-grid(2);
  footer ul {


      li:nth-of-type(1) {
          order: 1;
      }
      li:nth-of-type(2) {
          order: 3;
      }
      li:nth-of-type(3) {
          order: 2;
      }
      li:nth-of-type(4) {
          order: 4;
      }

  }
}

// Breakpoint 
@include for-size(phone-only) {
  @include op--sm();
}

@include for-size(tablet-portrait-up) {
  @include container--md;
  @include op--md;
  @include card--md;
  @include footer--md;    
}

@include for-size(desktop-up) {
  @include container--xl;
  @include op--xl;
  @include card--xl;
  @include menu--xl;
}