body:not(header):not(.footer__title) {
    font-family: 'Roboto', sans-serif;
}

header, .footer__title, .restaurant__title {
    font-family: 'Shrikhand', cursive;
}

h4 {
    font-size: 1.15em;
    font-weight: 500;    
}