.restaurants {
    background: $grey;
    h2 {
        flex: 100%;
        padding: 0 0 30px 0;
        font-size: 1.40em;
        font-weight: 600;
    }
}

.card {
    background: white;
    border-radius: $rounded-border;
    position: relative;
    @include box-shadow('', 0px, 5px, 10px, -2px); 

    &--badge::after {
        content: 'Nouveau';
        display: flex;
        justify-content: center;
        align-items: center;        
        font-size: 0.87em;
        font-weight: 500;
        margin: 13px;
        height: 29px;
        width: 79px;
        border-radius: 2px;
        background-color: $green;
        color: $dark-green;
        top: 0;
        right: 0;        
        position: absolute;
    }

    img {
        border-radius: $rounded-top;
        object-fit: cover;
        width: 100%;
    }

    .card__img {
        position: relative; 
    }

    &__desc {
        display: flex;
        flex-flow: column wrap;
        align-content: space-between;
        justify-content: center;
        border-radius: $rounded-bottom;
        height: 77px;
        padding: 0 24px 0 14px;
    }

    &__caption {
        flex: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 18px 0 18px 0;

        h3 {
            font-size: 1.15em;
            font-weight: 600;    
        }

        p {
            font-weight: 300;
        }
    }

    &__like {
        z-index: 2;
        input {
            display: none
        }

        .fa-heart {
            font-size: 25px;
        }

        input:checked + .fa-heart {
            font-weight: 900;
        }
    }

    &__url {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

}

@mixin restaurants--sm() {
    .restaurants {
        display: flex;
        flex-flow: column wrap;
        padding: 40px 20px 55px 20px;
    } 
}

@mixin restaurants--md() {
    .restaurants {
        display: flex;
        flex-flow: column wrap;
    }
}

@mixin restaurants--xl() {
    .restaurants {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 40px 60px 55px 60px;
    }
}

@mixin card--sm() {
    .card {
        &:not(:last-of-type) {
            margin: 0 0 18px 0;   
        }
    }

    img {
        height: 174px;
    }

    .card__img {
        height: 174px;
    }

}

@mixin card--md() {
    .card {
        width: 49%;
        margin: 0 0 18px 0;
    }

}

@mixin card--xl() {
    .card {
        width: 49%;
        margin: 0 0 18px 0;
    }
    img {
        height: 350px; 
    }
    .card__img {
        height: 350px;
    }
}