.desc {
    text-align: center;
    background: $grey;
    //padding: 40px 0 55px 0;
    padding-top: 40px;
    padding-bottom: 55px;
    
    &__title {
        font-weight: 600;
        font-size: 1.4em;
        //padding: 0 66px 20px 66px;
        padding-bottom: 20px;
    }

    p {
        //padding: 0 40px 30px 40px;
        padding-bottom: 30px;
        font-size: 1.05em;
        font-weight: 300;
    }
}

.desc__btn {
    @include btn(218px);
}
