footer {
    background: $light-black;
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    h4 {
        padding-bottom: 20px;
    }

    a {
        color: white;
    }

    li:not(:first-of-type):not(:nth-of-type(2)) {
        font-size: 0.97em;
        font-weight: 400;
    }
}

.footer__set {
    display: flex;
    flex-flow: row wrap;
    font-size: 0.97em;
    font-weight: 500;

    &::before {
        /* fa-utensils */
        @include content-icon(900, white, 0.8, 0.8, "\f2e7");
        width: 25px;
        text-align: inherit;
    }
}

.footer__help {
    display: flex;
    flex-flow: row wrap;
    font-size: 0.97em;
    font-weight: 500;

    &::before {
        /* fa-hands-helping */
        @include content-icon(900, white, 0.7, 0.8, "\f4c4");
        width: 25px;
        text-align: inherit;
    }
}

@mixin footer--md {
    @include flex-grid(2);
    footer ul {


        li:nth-of-type(1) {
            order: 1;
        }
        li:nth-of-type(2) {
            order: 3;
        }
        li:nth-of-type(3) {
            order: 2;
        }
        li:nth-of-type(4) {
            order: 4;
        }

    }
}