.logo {
    height: 70px;
    display: flex;
    align-items: center;

    &__text {
        color: black;    
        text-align: center;
        position: relative;
        font-size: 1.8em;
    }

    &__back {
        position: absolute;
        font-size: 1.2em;
        color: $light-black;
        width: 1em;
        z-index: 1;
        left: 0;
    }
}

header > .container > .item {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}