@charset "UTF-8";
/* Include partials */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body, html, div, img, label, p, h1, h2, h3, h4, h5, h6, ul, ol,
li, form, a, input, span, figure, img, footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

a {
  display: block; }

body {
  line-height: 1; }

ol {
  margin: 0; }

ul, ol {
  list-style: none; }

body:not(header):not(.footer__title) {
  font-family: 'Roboto', sans-serif; }

header, .footer__title, .restaurant__title {
  font-family: 'Shrikhand', cursive; }

h4 {
  font-size: 1.15em;
  font-weight: 500; }

.desc__btn, .restaurant .order__btn button {
  border: none;
  background: linear-gradient(175deg, #FF79DA 20%, #9356DC 100%);
  color: white;
  font-size: 1.01em;
  font-weight: 600;
  border-radius: 40px;
  padding: 14px 20px 14px 20px; }
  .desc__btn:hover, .restaurant .order__btn button:hover {
    background: linear-gradient(175deg, #ff93e1 20%, #a16be0 100%); }

.nav {
  padding: 21px 23px 14px 23px; }
  .nav__title {
    color: black;
    text-align: center;
    position: relative;
    font-size: 1.8em; }
  .nav__back::before {
    /* fa-arrow-left */
    display: flex;
    font-family: "Font Awesome 5 Free";
    color: #353535;
    font-size: 0.7em;
    font-weight: 900;
    content: "";
    top: 50%;
    transform: translate(0, -50%);
    position: absolute; }

footer {
  background: #353535;
  color: white;
  padding: 20px 20px 30px 20px; }
  footer h4 {
    padding-bottom: 20px; }
  footer a {
    color: white; }
  footer__list {
    display: flex;
    flex-flow: column wrap; }
  footer li:not(:first-of-type):not(:nth-of-type(2)) {
    font-size: 0.97em;
    font-weight: 400; }
  footer li:not(:last-of-type) {
    margin-bottom: 10px; }

.footer__set {
  display: flex;
  flex-flow: column wrap;
  align-content: baseline;
  height: 15px;
  line-height: 15px;
  font-size: 0.97em;
  font-weight: 500; }
  .footer__set::before {
    /* fa-utensils */
    display: flex;
    font-family: "Font Awesome 5 Free";
    color: white;
    font-size: 13px;
    font-weight: 900;
    content: "";
    flex: 100%;
    width: 15px;
    padding-right: 3px;
    text-align: inherit; }

.footer__help {
  display: flex;
  flex-flow: column wrap;
  align-content: baseline;
  height: 15px;
  line-height: 15px;
  font-size: 0.97em;
  font-weight: 500; }
  .footer__help::before {
    /* fa-hands-helping */
    display: flex;
    font-family: "Font Awesome 5 Free";
    color: white;
    font-size: 12px;
    font-weight: 900;
    content: "";
    flex: 100%;
    width: 15px;
    padding-right: 3px;
    text-align: inherit; }

body {
  position: relative; }

.loading {
  animation: hideloader 3s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: 'Shrikhand', cursive;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: black;
  opacity: 0.8;
  z-index: 99; }
  .loading span:nth-of-type(1) {
    animation: borderspin-1 1.5s linear infinite, hideloader 3s linear;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-top: 5px solid #FF79DA;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(120deg); }
  .loading span:nth-of-type(2) {
    animation: borderspin-2 1.5s linear infinite, hideloader 3s linear;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-top: 5px solid #9356DC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-120deg); }
  .loading span:nth-of-type(3) {
    animation: borderspin-3 1.5s linear infinite, hideloader 3s linear;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-top: 5px solid #99E2D0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg); }
  .loading__box {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg); }
  .loading svg {
    width: 100%;
    height: 100%;
    position: relative;
    vertical-align: middle;
    transform: rotate(0deg);
    font-size: 1.8em; }
    .loading svg path:nth-of-type(1) {
      fill: black;
      transform-origin: center;
      animation: hideloader 3s linear, color 3s linear infinite;
      animation-delay: 100ms; }
    .loading svg path:nth-of-type(2) {
      fill: black;
      transform-origin: center;
      animation: hideloader 3s linear, color 3s linear infinite;
      animation-delay: 200ms; }
    .loading svg path:nth-of-type(3) {
      fill: black;
      transform-origin: center;
      animation: hideloader 3s linear, color 3s linear infinite;
      animation-delay: 300ms; }
    .loading svg path:nth-of-type(4) {
      fill: black;
      transform-origin: center;
      animation: hideloader 3s linear, color 3s linear infinite;
      animation-delay: 400ms; }
    .loading svg path:nth-of-type(5) {
      fill: black;
      transform-origin: center;
      animation: hideloader 3s linear, color 3s linear infinite;
      animation-delay: 500ms; }
    .loading svg path:nth-of-type(6) {
      fill: black;
      transform-origin: center;
      animation: hideloader 3s linear, color 3s linear infinite;
      animation-delay: 600ms; }
    .loading svg path:nth-of-type(7) {
      fill: black;
      transform-origin: center;
      animation: hideloader 3s linear, color 3s linear infinite;
      animation-delay: 700ms; }
    .loading svg path:nth-of-type(8) {
      fill: black;
      transform-origin: center;
      animation: hideloader 3s linear, color 3s linear infinite;
      animation-delay: 800ms; }

@keyframes borderspin-1 {
  0% {
    transform: translate(-50%, -50%) rotate(120deg); }
  100% {
    transform: translate(-50%, -50%) rotate(480deg); } }

@keyframes borderspin-2 {
  0% {
    transform: translate(-50%, -50%) rotate(-120deg); }
  100% {
    transform: translate(-50%, -50%) rotate(240deg); } }

@keyframes borderspin-3 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes color {
  0%, 5%, 50%, 60%, 100% {
    fill: #9356DC; }
  10%, 20%, 65%, 70% {
    fill: #FF79DA; }
  30%, 40%, 80%, 90% {
    fill: #99E2D0; } }

@keyframes hideloader {
  0%, 90% {
    opacity: 0.8;
    width: 100%;
    height: 100%; }
  99% {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 0; }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
    z-index: 0; } }

.place {
  padding: 17px;
  color: #353535;
  background: #eaeaea;
  box-shadow: inset 0px 10px 5px -10px rgba(0, 0, 0, 0.25); }
  .place__title {
    display: block;
    text-align: center;
    position: relative;
    font-size: 0.96em;
    font-weight: 500; }
  .place__icon::before {
    /* fa-map-marker-alt */
    display: flex;
    font-family: "Font Awesome 5 Free";
    color: #353535;
    font-size: 1em;
    font-weight: 900;
    content: "";
    display: initial;
    position: absolute;
    margin-left: -25px; }

.desc {
  text-align: center;
  background: #f6f6f6;
  padding: 40px 0 55px 0; }
  .desc h2 {
    padding: 0 66px 20px 66px; }
  .desc p {
    padding: 0 40px 30px 40px;
    font-size: 1.05em;
    font-weight: 300; }

.desc__btn {
  color: white;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25); }

.op__title {
  width: 100%;
  padding: 0 0 30px 0;
  font-size: 1.40em;
  font-weight: 600; }

.op li {
  counter-increment: incrementation;
  position: relative;
  left: 12px;
  margin-right: 12px;
  border-radius: 18px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25); }

.op li::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: counter(incrementation);
  font-size: 0.8em;
  color: white;
  position: absolute;
  left: -12px;
  background: #9356DC; }

.op span {
  display: flex;
  flex-flow: column wrap;
  height: 72px;
  width: 100%;
  background: #f6f6f6;
  border-radius: 18px;
  font-size: 1em;
  justify-content: center;
  align-content: baseline;
  font-size: 0.98em;
  font-weight: 500; }

.op__mobile::before {
  display: flex;
  font-family: "Font Awesome 5 Free";
  color: #7e7e7e;
  font-size: 20px;
  font-weight: 900;
  content: "";
  padding-left: 12px;
  flex: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%; }

.op__list::before {
  display: flex;
  font-family: "Font Awesome 5 Free";
  color: #7e7e7e;
  font-size: 18px;
  font-weight: 900;
  content: "";
  padding-left: 12px;
  flex: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%; }

.op__store::before {
  display: flex;
  font-family: "Font Awesome 5 Free";
  color: #7e7e7e;
  font-size: 16px;
  font-weight: 900;
  content: "";
  padding-left: 12px;
  flex: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%; }

.restaurants {
  background: #f6f6f6; }
  .restaurants h2 {
    flex: 100%;
    padding: 0 0 30px 0;
    font-size: 1.40em;
    font-weight: 600; }

.card {
  background: white;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25); }
  .card--badge::after {
    content: 'Nouveau';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.87em;
    font-weight: 500;
    margin: 13px;
    height: 29px;
    width: 79px;
    border-radius: 2px;
    background-color: #99E2D0;
    color: #008766;
    top: 0;
    right: 0;
    position: absolute; }
  .card img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width: 100%; }
  .card .card__img {
    position: relative; }
  .card__desc {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: center;
    border-radius: 0 0 15px 15px;
    height: 77px;
    padding: 0 24px 0 14px; }
  .card__caption {
    flex: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 18px 0 18px 0; }
    .card__caption h3 {
      font-size: 1.15em;
      font-weight: 600; }
    .card__caption p {
      font-weight: 300; }
  .card__like {
    z-index: 2; }
    .card__like input {
      display: none; }
    .card__like .fa-heart {
      font-size: 25px; }
    .card__like input:checked + .fa-heart {
      font-weight: 900; }
  .card__url {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; }

@media (max-width: 599px) {
  .op {
    display: flex;
    flex-flow: column wrap;
    padding: 50px 0 60px 0;
    margin: 0 20px 0 20px; }
    .op li::before {
      top: 50%;
      transform: translate(0, -50%);
      border-radius: 50%;
      width: 24px;
      height: 24px; }
    .op li:not(:last-of-type) {
      margin-bottom: 24px; }
    .op span {
      align-content: baseline; }
  .restaurants {
    display: flex;
    flex-flow: column wrap;
    padding: 40px 20px 55px 20px; }
  .card:not(:last-of-type) {
    margin: 0 0 18px 0; }
  img {
    height: 174px; }
  .card__img {
    height: 174px; } }

@media (min-width: 600px) {
  .restaurants {
    display: flex;
    flex-flow: column wrap; }
  .card {
    width: 49%;
    margin: 0 0 18px 0; } }

@media (min-width: 1200px) {
  .op {
    margin: 0 60px 0 60px; }
    .op__incr {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; }
    .op li {
      flex: 1;
      height: 80px;
      left: 0;
      margin-right: 0; }
    .op li::before {
      top: 0;
      transform: translate(0, -50%);
      border-radius: 50%;
      width: 35px;
      height: 35px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
    .op span {
      height: 80px;
      align-content: center; }
    .op__mobile::before {
      width: 0;
      margin-right: 250px;
      position: absolute; }
    .op__list::before {
      width: 0;
      margin-right: 250px;
      position: absolute; }
    .op__store::before {
      width: 0;
      margin-right: 250px;
      position: absolute; }
  .restaurants {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 40px 60px 55px 60px; }
  .card {
    width: 49%;
    margin: 0 0 18px 0; }
  img {
    height: 350px; }
  .card__img {
    height: 350px; } }

.intro {
  height: 221px; }
  .intro img {
    width: 100%;
    height: 271px;
    object-fit: cover; }

.restaurant {
  position: relative; }

.restaurant {
  padding: 35px 20px 85px 20px;
  border-radius: 40px 40px 0 0;
  background: #f6f6f6; }
  .restaurant h3 {
    font-size: 1em;
    font-weight: 300;
    position: relative;
    padding-bottom: 7px;
    margin-bottom: 15px; }
  .restaurant .order__btn {
    text-align: center; }
    .restaurant .order__btn button {
      width: 55%;
      box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25); }

.restaurant__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 40px; }
  .restaurant__title h2 {
    font-size: 1.6em;
    font-weight: 400; }
  .restaurant__title .restaurant__like input {
    display: none; }
  .restaurant__title .restaurant__like .fa-heart {
    font-size: 25px; }
  .restaurant__title .restaurant__like input:checked + .fa-heart {
    font-weight: 900; }

.menu {
  opacity: 0;
  margin-bottom: 40px; }

.dish--border::before {
  content: "";
  border: 2px solid #99E2D0;
  position: absolute;
  bottom: 0;
  width: 35px; }

.dish__box {
  opacity: 0;
  display: flex;
  position: relative;
  height: 68px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25);
  /*input:hover + label {
        width: 68px;
    }*/ }
  .dish__box:not(:last-of-type) {
    margin-bottom: 15px; }
  .dish__box input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; }
  .dish__box input:checked + label {
    transition: width 0.5s;
    width: 68px; }
  .dish__box input:checked + label .fa-check {
    transition: 0.5s;
    transform: translate(0, 100%) rotate(1turn); }

.dish__desc {
  display: flex;
  flex-flow: column;
  flex: 1;
  overflow: hidden;
  padding: 14px 0 14px 12px; }
  .dish__desc p:nth-of-type(1) {
    height: 20px;
    font-size: 1em;
    font-weight: 600;
    overflow: hidden;
    text-overflow: "…";
    white-space: nowrap;
    line-height: 20px; }
  .dish__desc p:nth-of-type(2) {
    height: 20px;
    font-size: 0.9em;
    font-weight: 300;
    overflow: hidden;
    text-overflow: "…";
    white-space: nowrap;
    line-height: 20px; }

.dish__price {
  align-self: flex-end;
  padding: 14px 0 14px 0;
  font-size: 0.9em;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  height: 20px;
  line-height: 20px; }

.order {
  align-self: center;
  height: 100%;
  width: 0px;
  position: relative;
  transition: width 0.5s; }
  .order__box {
    display: block;
    position: absolute;
    left: 0;
    height: 100%;
    width: 68px; }
    .order__box .order__check {
      display: block;
      background: #99E2D0;
      height: 100%;
      text-align: center; }
    .order__box .fa-check {
      background: white;
      color: #99E2D0;
      top: 50%;
      transform: translate(0, 100%);
      border-radius: 50%;
      width: 24px;
      height: 24px;
      line-height: 24px; }

.menu:nth-of-type(2) {
  animation: opacity 300ms linear forwards;
  animation-delay: 300ms; }

.menu:nth-of-type(3) {
  animation: opacity 300ms linear forwards;
  animation-delay: 450ms; }

.menu:nth-of-type(4) {
  animation: opacity 300ms linear forwards;
  animation-delay: 600ms; }

.delay-1 {
  animation: opacity 300ms linear forwards;
  animation-delay: 150ms; }

.delay-2 {
  animation: opacity 300ms linear forwards;
  animation-delay: 300ms; }

.delay-3 {
  animation: opacity 300ms linear forwards;
  animation-delay: 450ms; }

.delay-4 {
  animation: opacity 300ms linear forwards;
  animation-delay: 600ms; }

.delay-5 {
  animation: opacity 300ms linear forwards;
  animation-delay: 750ms; }

.delay-6 {
  animation: opacity 300ms linear forwards;
  animation-delay: 900ms; }

.delay-7 {
  animation: opacity 300ms linear forwards;
  animation-delay: 1050ms; }

.delay-8 {
  animation: opacity 300ms linear forwards;
  animation-delay: 1200ms; }

.delay-9 {
  animation: opacity 300ms linear forwards;
  animation-delay: 1350ms; }

.delay-10 {
  animation: opacity 300ms linear forwards;
  animation-delay: 1500ms; }

@keyframes opacity {
  0% {
    transform: translate3d(0, 30px, 0);
    opacity: 0; }
  70%, 100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

/*# sourceMappingURL=index.css.map */